<p class="explore">Unit Administration</p>

<ul class="nav nav-sidebar">
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Units" ? "active" : "")">
		<a href="/control-panel/units"><i class="fa fa-fw fa-users"></i>Unit administration</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Training" ? "active" : "")">
		<a href="/control-panel/training"><i class="fa fa-fw fa-graduation-cap"></i>Training</a>
		@if (ViewContext.RouteData.Values["Controller"].ToString() == "Training")
		{
			<ul>
				<li>
					<a href="/control-panel/training/add">Add training session</a>
				</li>
			</ul>
		}
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Reports" ? "active" : "")">
		<a href="/control-panel/reports"><i class="fa fa-fw fa-bar-chart"></i>Reports</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "DataExport" ? "active" : "")">
		<a href="/control-panel/data-export"><i class="fa fa-fw fa-database"></i>Data export</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "MyAccount" ? "active" : "")">
		<a href="/my-account"><i class="fa fa-fw fa-user"></i>My account</a>
	</li>
	<li class="muted-nav">
		<a href="/"><i class="fa fa-fw fa-arrow-left"></i>Return to jobs list</a>
	</li>
</ul>