@model Enivate.ResponseHub.UI.Areas.Admin.Models.Users.NewUserViewModel

@{
    ViewBag.Title = "Create new user";
}

<h2>@ViewBag.Title</h2>

<form action="@ViewBag.FormAction" method="post">

	@Html.AntiForgeryToken()

	<div class="row">
		<div class="col-lg-10 col-xl-6">
			@Html.ValidationSummary(true)
		</div>
	</div>

	<input type="hidden" name="FirstName" value="[NEW_USER]" />
	<input type="hidden" name="Surname" value="[NEW_USER]" />

	<p>Enter the email address and select a role for the new user below.</p>

	<div class="form-group">
		<label for="Name">Email address *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", placeholder = "user@domain.com" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.EmailAddress)
	</div>

	<div class="form-group">
		<label for="Service">Role *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.DropDownListFor(model => model.Role, Model.AvailableRoles, new { @class = "form-control" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.Role)
	</div>

	<button type="submit" class="btn btn-default">Next</button>
	<a href="@Html.BackUrlOrDefault("/admin")" class="btn btn-link">Cancel</a>

</form>