@model Enivate.ResponseHub.UI.Models.Messages.JobMessageListItemViewModel
@{ 
	string controller = (Model.Priority == Enivate.ResponseHub.Model.Messages.MessagePriority.Administration ? "messages" : "jobs");
}

<li data-message-id="@Model.Id">
	<h3>
		@if (Model.Priority == Enivate.ResponseHub.Model.Messages.MessagePriority.Emergency)
		{
			<i class="fa fa-fw fa-exclamation-triangle p-message-emergency"></i>
		}
		else if (Model.Priority == Enivate.ResponseHub.Model.Messages.MessagePriority.NonEmergency)
		{
			<i class="fa fa-fw fa-exclamation-circle p-message-non-emergency"></i>
		}
		else
		{
			<i class="fa fa-fw fa-info-circle p-message-admin"></i>
		}
		@if (String.IsNullOrEmpty(Model.JobNumber))
		{
			<a href="/@controller/@Model.Id">@Model.Timestamp.ToString("dd/MM/yyyy HH:mm:ss")</a>
		}
		else
		{
			if (Model.AdditionalMessageCount > 0)
			{
				<a href="/@controller/@Model.Id">@Model.JobNumber</a> <span class="badge">@Model.AdditionalMessageCount</span>
			}
			else
			{
				<a href="/@controller/@Model.Id">@Model.JobNumber</a>
			}
			<span class="text-muted message-date btn-icon">@Model.Timestamp.ToString("dd/MM/yyyy HH:mm:ss")</span>
		}
	</h3>
	<p class="job-message-meta text-muted">
		<span class="job-status">
			@if (Model.Cancelled != null)
			{
				<i class="fa fa-ban job-cancelled"></i>
			}
			else if (Model.JobClear != null)
			{
				<i class="fa fa-check-circle-o job-clear"></i>
			}
			else if (Model.OnScene != null)
			{
				<i class="fa fa-hourglass-half on-scene"></i>
			}
			else if (Model.OnRoute != null)
			{
				<i class="fa fa-arrow-circle-o-right on-route"></i>
			}
			else
			{
				<i class="fa fa-asterisk"></i>
			}
		</span>
		<span class="capcode-unit-name">@Model.CapcodeUnitName</span>
	</p>
	<p>@Model.MessageBody</p>
</li>

