@model Enivate.ResponseHub.UI.Models.Messages.JobMessageViewModel

@if (Model.Location != null)
{

	<h3>Location</h3>

	if (Model.Location.Address != null && !String.IsNullOrEmpty(Model.Location.Address.FormattedAddress))
	{
		<p class="text-info lead bottom-5">@Model.Location.Address.FormattedAddress.Replace(", Australia", "")</p>
		<p class="bottom-20 text-muted">Map ref: @Html.EnumDescription(Model.Location.MapType) @Model.Location.MapReference</p>
	}
	else
	{
		<p class="lead text-info">Map ref: @Html.EnumDescription(Model.Location.MapType) @Model.Location.MapReference</p>
	}

	if (Model.Location.Coordinates.Latitude != 0 && Model.Location.Coordinates.Longitude != 0)
	{
		<div id="map-messages"></div>
		<div id="map-canvas" style="height: 400px;"></div>
		<script type="text/javascript">

			var mapConfig = {
				lat: Number(@Model.Location.Coordinates.Latitude),
				lon: Number(@Model.Location.Coordinates.Longitude),
				zoom: 15,
				minZoom: 4,
				scrollWheel: false,
				mapContainer: 'map-canvas',
				loadCallback: function () {

					// Add the map marker for the place.
					responseHub.maps.addMarkerToMap(Number(@Model.Location.Coordinates.Latitude), Number(@Model.Location.Coordinates.Longitude));

					// Add the current location to the map
					//if (responseHub.isMobile()) {
						responseHub.maps.addCurrentLocationToMap();
					//}

					// Add the path and distance from lhq
					responseHub.maps.addLhqMarker(@(Model.LhqCoordinates.Latitude), @(Model.LhqCoordinates.Longitude));
				}
			};

		</script>
	}
}