@model Enivate.ResponseHub.UI.Models.Messages.JobMessageViewModel

@{
	ViewBag.Title = (!String.IsNullOrEmpty(Model.JobNumber) ? Model.JobNumber : Model.Timestamp.ToString("dd/MM/yyyy HH:mm:ss"));
}

@Html.HiddenFor(i => i.Id)

<div class="row">
	<div class="col-sm-7">

		<h1>
			@if (Model.Priority == Enivate.ResponseHub.Model.Messages.MessagePriority.Emergency)
			{
				<i class="fa fa-exclamation-triangle p-message-emergency"></i>
			}
			else if (Model.Priority == Enivate.ResponseHub.Model.Messages.MessagePriority.NonEmergency)
			{
				<i class="fa fa-exclamation-circle p-message-non-emergency"></i>
			}
			else
			{
				<i class="fa fa-info-circle p-message-admin"></i>
			}
			@ViewBag.Title
		</h1>

	</div>
	<div class="col-sm-5">
		<h3 class="text-right text-xs-left text-info">@Model.Timestamp.ToString("yyyy-MM-dd HH:mm")</h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<p class="lead text-muted"><em>@Model.CapcodeGroupName</em></p>
	</div>
</div>

<p class="lead">@Model.MessageBody</p>

<div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#tab-overview" aria-controls="tab-overview" role="tab" data-toggle="tab" class="btn-icon"><i class="fa fa-fw fa-bar-chart"></i>Overview</a></li>
		<li role="presentation"><a href="#tab-attachments" aria-controls="tab-attachments" role="tab" data-toggle="tab" class="btn-icon" id="tab-header-attachments"><i class="fa fa-fw fa-paperclip"></i>Attachments (<span>@Model.Attachments.Count</span>)</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="tab-overview">

			@Html.Partial("JobProgress", Model)

			@Html.Partial("JobLocation", Model)

			@Html.Partial("JobNotes", Model.Notes)

		</div>

		<div role="tabpanel" class="tab-pane" id="tab-attachments">

			<h3>Image gallery</h3>
			


			<div id="links" class="row">
				@if (Model.ImageAttachments != null && Model.ImageAttachments.Count > 0)
				{
					foreach (var attachment in Model.ImageAttachments)
					{
						<div class="col-sm-4 col-md-3 col-lg-2">
							<a href="/media/attachment/@attachment.Id" title="@attachment.Filename" data-gallery>
								<img src="/media/attachment-thumb/@attachment.Id">
							</a>
						</div>
					}
				}
			</div>

			<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
			<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
				<!-- The container for the modal slides -->
				<div class="slides"></div>
				<!-- Controls for the borderless lightbox -->
				<h3 class="title"></h3>
				<a class="prev">‹</a>
				<a class="next">›</a>
				<a class="close">×</a>
				<a class="play-pause"></a>
				<ol class="indicator"></ol>
				<!-- The modal dialog, which will be used to wrap the lightbox content -->
				<div class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" aria-hidden="true">&times;</button>
								<h4 class="modal-title"></h4>
							</div>
							<div class="modal-body next"></div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default pull-left prev">
									<i class="fa fa-chevron-left"></i>
									Previous
								</button>
								<button type="button" class="btn btn-primary next">
									Next
									<i class="fa fa-chevron-right"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="upload-messages"></div>

			<form action="/media/job-attachments/@Model.Id" class="dropzone" id="dropzone-attachments">
				@Html.AntiForgeryToken()
			</form>

			<h3>Attachments</h3>

			@if (Model.Attachments != null && Model.Attachments.Count > 0)
			{
				<ul class="list-unstyled attachment-list">
					@foreach (var attachment in Model.Attachments)
					{
						<li>
							<span class="btn-icon"><i class="fa fa-fw fa-download"></i><a href="/media/attachment/@attachment.Id">@attachment.Filename</a></span> 
							<span class="attachment-meta"> @attachment.Created.ToLocalTime().ToString("dd/MM/yyyy HH:mm") <em>(@attachment.MimeType</em> @Html.GetFileSizeDisplayForBytes(attachment.FileLength))</span>
						</li>
					}

				</ul>
				<p class="bottom-20"><a href="/media/download-job-attachments/@Model.Id" class="btn btn-primary btn-icon"><i class="fa fa-fw fa-file-archive-o"></i>Download all attachments</a></p>
			}
			else
			{
				<ul class="list-unstyled attachment-list">
					<li class="no-attachments-msg"><span class="text-center">No attachments have been uploaded for this job.</span></li>
				</ul>
			}

		</div>
	</div>
</div>
