@model Enivate.ResponseHub.UI.Areas.Admin.Models.Groups.CreateGroupModel

<h2>@ViewBag.Title</h2>

<form action="@ViewBag.FormAction" method="post">

	@Html.AntiForgeryToken()

	@Html.ValidationSummary(true)

	<div class="form-group">
		<label for="Name">Name *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Group name" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.Name)
	</div>

	<div class="form-group">
		<label for="Service">Service *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.DropDownListFor(model => model.Service, Model.AvailableServices, new { @class = "form-control" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.Service)
	</div>

	<div class="form-group">
		<label for="Service">Region *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.DropDownListFor(model => model.Region, Model.AvailableRegions, new { @class = "form-control" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.Region)

		<div class="row">
			<div class="col-lg-10 col-xl-6">
				<p class="section-help">Selecting the correct region will ensure the group gets all the region messages as well as unit messages.</p>
			</div>
		</div>

	</div>

	<div class="form-group">
		<label for="Name">Capcode *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.TextBoxFor(model => model.Capcode, new { @class = "form-control", placeholder = "00000xxx", maxlength = "9" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.Capcode)
	</div>

	<div class="form-group row">
		<div class="col-sm-10 col-md-8 col-lg-6">
			<label for="Description">Description</label>
			@Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "5" })
		</div>
	</div>

	<h3 class="legend">HQ location</h3>

	<div class="form-group">
		<div class="row">
			<div class="col-sm-5 col-md-4 col-lg-3">
				Latitude * <br />
				@Html.TextBoxFor(model => model.Latitude, new { @class = "form-control loc-latitude", placeholder = "12.345678" })
				@Html.ValidationMessageFor(model => model.Latitude)
			</div>
			<div class="latitude-control col-sm-5 col-md-4 col-lg-3">
				Longitude * <br />
				@Html.TextBoxFor(model => model.Longitude, new { @class = "form-control loc-longitude", placeholder = "123.456789" })
				@Html.ValidationMessageFor(model => model.Longitude)
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<p class="hidden-xs hidden-sm visible-md visible-lg">If you don't know the coordinates of the headquarters, you can select a location on the map or use your current location.</p>
			<p class="visible-xs visible-sm hidden-md hidden-lg">If you don't know the coordinates of the headquarters you can use your current location.</p>
		</div>
		<div class="col-xs-12 hq-location-buttons">
			<button id="find-on-map" class="btn btn-default btn-icon hidden-xs hidden-sm visible-md visible-lg" type="button" data-toggle="modal" data-target="#map-modal"><i class="fa fa-map-marker"></i> Find on map</button>

			<span class="lead hidden-xs hidden-sm visible-md visible-lg"> - OR - </span>

			<button id="btn-current-location" class="btn btn-default btn-icon btn-mobile-block" type="button"><i class="fa fa-crosshairs"></i> Use current location</button>
			<i class="fa fa-refresh fa-spin current-location-spinner hidden"></i>

		</div>
	</div>

	<div class="row">
		<div class="col-lg-10 col-xl-6">
			<p class="section-help">Using the 'Use current location' may not return the most accurate coordinates. Please double check the location is correct.</p>
		</div>
	</div>

	@if (ViewBag.AddGroupAdministrator == true)
	{

		<h3 class="legend">Group administrator</h3>

		<div class="row">
			<div class="col-lg-10 col-xl-6">
				<p>Enter the email address of the administrator for this group. If the user currently exists, you will be asked to confirm the group administrator.</p>
				<p>If the user does not exist, the user will receive an email with details on how to complete their account creation.</p>
			</div>
		</div>

		<div class="form-group">
			<label for="Name">Group administrator *</label>
			<div class="row">
				<div class="col-sm-8 col-md-6 col-lg-4">
					@Html.TextBoxFor(model => model.GroupAdministratorEmail, new { @class = "form-control", placeholder = "user@domain.com" })
				</div>
			</div>
			@Html.ValidationMessageFor(model => model.GroupAdministratorEmail)
		</div>

	}
	else
	{
		<!-- Add the Group Administration email to pass validation -->
		<input type="hidden" name="GroupAdministratorEmail" value="not_required@domain.com" />
	}

	@if (ViewBag.AddGroupAdministrator == true)
	{
		<button type="submit" class="btn btn-default">Next</button>
		<a href="/admin/groups" class="btn btn-link">Cancel</a>
	}
	else
	{
		<div class="top-20">
			<button type="submit" class="btn btn-default">Save</button>
			<a href="/admin/groups" class="btn btn-link">Cancel</a>
		</div>
	}

</form>

<!-- Map Modal -->
<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="map-modal-label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="map-modal-label">Select your place location</h4>
			</div>
			<div class="modal-body">
				<p class="lead">Click the location on your map to set the coordinates. Once you have your place, click the 'Set coordinates' button.</p>

				<div id="map-canvas" style="height: 400px;"></div>

			</div>
			<div class="modal-footer">
				<div class="selected-coords pull-left">
					<p class="selected-coords-title pull-left"><strong>Selected coordinates</strong></p>
					<p class="current-coords lead"></p>
				</div>
				<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default set-coords">Set coordinates</button>
			</div>
		</div>
	</div>
</div>