@model IList<Enivate.ResponseHub.Model.Groups.Group>

@{
    ViewBag.Title = "Groups";
}
<h1>Groups</h1>

<a href="/admin/groups/create" class="btn btn-primary btn-icon btn-lg top-10"><i class="fa fa-plus"></i> Create group</a>

@Html.Partial("~/Areas/Admin/Views/Shared/SearchControl.cshtml", new Enivate.ResponseHub.UI.Areas.Admin.Models.SearchViewModel(Model.Count, "groups"))

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Capcode</th>
			<th>Service</th>
			<th>Created</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@if (Model == null || Model.Count == 0)
		{
			<tr>
				<td colspan="5">No groups found.</td>
			</tr>
		}
		else
		{
			foreach(var group in Model)
			{
				<tr>
					<td><a href="/admin/groups/@group.Id">@group.Name</a></td>
					<td>@group.Capcode</td>
					<td>@Html.EnumDescription(group.Service)</td>
					<td>@group.Created.ToString("yyyy-MM-dd")</td>
					<td><a href="/admin/groups/@group.Id/edit" title="Edit group" class="btn-icon btn-action-icon"><i class="fa fa-pencil-square-o"></i></a></td>
				</tr>
			}
		}
	</tbody>
</table>