@model Enivate.ResponseHub.UI.Areas.Admin.Models.Groups.NewUserViewModel

@{
	ViewBag.Title = "Create new user";
	Layout = Html.IsAdminUser() ? "~/Areas/Admin/Views/Shared/_Layout.cshtml" : "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<form action="@Request.Url.LocalPath" method="post">

	@Html.AntiForgeryToken()

	<div class="row">
		<div class="col-lg-10 col-xl-6">
			@Html.ValidationSummary(true)
		</div>
	</div>

	<input type="hidden" name="FirstName" value="[NEW_USER]" />
	<input type="hidden" name="Surname" value="[NEW_USER]" />

	<p>Adding a new member to this group will allow that user to view jobs assigned to this groups capcode.</p>
	<p>You can either add a new user, or an existing user from another group.</p>

	<div class="form-group top-20">
		<label for="Name">Email address *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", placeholder = "user@domain.com" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.EmailAddress)
	</div>

	<div class="form-group">
		<label for="Service">Role *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.DropDownListFor(model => model.Role, Model.AvailableRoles, new { @class = "form-control" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.Role)
	</div>

	<button type="submit" class="btn btn-default">Next</button>
	<a href="@Request.Url.LocalPath.ToLower().Replace("/add-member", "")" class="btn btn-link">Cancel</a>

</form>