@model IList<Enivate.ResponseHub.UI.Areas.ControlPanel.Models.Upkeep.ViewTaskViewModel>
@{
	ViewBag.Title = "Tasks";
	Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<p class="lead">Tasks are jobs that need to be completed as part of a maintenance crew. Tasks can have a single asset assigned to them or just regular tasks.</p>

@if (Model == null || Model.Count == 0)
{
	<p><strong>No tasks have been created yet.</strong></p>
	<p><a href="/control-panel/upkeep/tasks/add" class="btn btn-primary btn-icon"><i class="fa fa-fw fa-plus"></i>Add task</a></p>
}
else
{
	<p class="lead">Found @Model.Count task@(Model.Count != 1 ? "s" : "")</p>
	<p><a href="/control-panel/upkeep/tasks/add" class="btn btn-primary btn-icon"><i class="fa fa-fw fa-plus"></i>Add task</a></p>
	<table class="table table-striped table-responsive table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Asset</th>
				<th>Tasks</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var unitTask in Model)
			{
				<tr>
					<td><a href="/control-panel/upkeep/tasks/@unitTask.Id">@unitTask.Name</a></td>
					<td>@(unitTask.Asset != null ? unitTask.Asset.Name : "")</td>
					<td>@unitTask.TaskItems.Count</td>
					<td><a data-href="/control-panel/upkeep/tasks/@unitTask.Id/delete" data-toggle="modal" data-target="#confirm-delete" class="cursor-pointer btn-icon btn-action-icon" title="Delete tasks" data-task-name="@unitTask.Name"><i class="fa fa-times"></i></a></td>
				</tr>
			}
		</tbody>
	</table>
}

<div class="modal fade delete-container delete-task" tabindex="-1" role="dialog" id="confirm-delete">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Confirm delete task</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to remove the task '<span></span>'?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary btn-ok">Delete task</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
