<p class="explore">System Administration</p>

<ul class="nav nav-sidebar">
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Groups" ? "active" : "")">
		<a href="/admin/groups"><i class="fa fa-fw fa-users"></i>Groups</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Users" ? "active" : "")">
		<a href="/admin/users"><i class="fa fa-fw fa-user"></i>Users</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Capcodes" ? "active" : "")">
		<a href="/admin/capcodes"><i class="fa fa-fw fa-tty"></i>Capcodes</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Reports" ? "active" : "")">
		<a href="/admin/reports"><i class="fa fa-fw fa-bar-chart"></i>Reports</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Logs" ? "active" : "")">
		<a href="/admin/log-viewer"><i class="fa fa-fw fa-file-text-o"></i>Logs</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "SystemSettings" ? "active" : "")">
		<a href="/admin/system-settings"><i class="fa fa-fw fa-cogs"></i>System Settings</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "PagerMessages" ? "active" : "")">
		<a href="/pager-messages"><i class="fa fa-fw fa-feed"></i>Pager Messages</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "MyAccount" ? "active" : "")">
		<a href="/my-account"><i class="fa fa-fw fa-user"></i>My account</a>
	</li>
</ul>