<p class="explore">System Administration</p>

<ul class="nav nav-sidebar">
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Groups" ? "active" : "")">
		<a href="/admin/groups"><i class="fa fa-fw fa-users"></i>Groups</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Users" ? "active" : "")">
		<a href="/admin/users"><i class="fa fa-fw fa-user"></i>Users</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Capcodes" ? "active" : "")">
		<a href="/admin/capcodes"><i class="fa fa-fw fa-tty"></i>Capcodes</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Reports" ? "active" : "")">
		<a href="/admin/reports"><i class="fa fa-fw fa-bar-chart"></i>Reports</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Settings" ? "active" : "")">
		<a href="/admin/messages"><i class="fa fa-fw fa-cogs"></i>System Settings</a>
	</li>
</ul>