@model Enivate.ResponseHub.UI.Models.MyAccount.ChangePasswordViewModel

@{
	ViewBag.Title = "Change your password";
}

<h1>@ViewBag.Title</h1>

<p>To change your account password enter and confirm your new password.</p>

<form method="post" action="/my-account/change-password">
	
	@Html.AntiForgeryToken()

	@Html.ValidationSummary(true)
	
	<div class="form-group">
		<label for="NewPassword">New password *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", data_password_strength_target = "#password-strength" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.NewPassword)
	</div>

	<div class="form-group">
		<label for="ConfirmPassword">Confirm password *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.ConfirmPassword)
	</div>

	<div id="password-strength" class="password-strength clearfix">
		<div class="strength-bar first"></div>
		<div class="strength-bar second"></div>
		<div class="strength-bar third"></div>
	</div>

	<div class="row">
		<div class="col-lg-10 col-xl-6">
			<p class="section-help">For security reasons, you must enter your current account password to be able to change your password.</p>
		</div>
	</div>

	<div class="form-group">
		<label for="AccountPassword">Current password *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.PasswordFor(model => model.AccountPassword, new { @class = "form-control" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.AccountPassword)
	</div>

	<button type="submit" class="btn btn-default btn-mobile-block">Change password</button>

</form>
