@model Enivate.ResponseHub.UI.Models.MyAccount.CreatePasswordViewModel

@{
	ViewBag.Title = "Create account password";
}

<h1>@ViewBag.Title</h1>

<div class="row">
	<div class="col-xs-12 col-lg-8">
		<p>You currently login to ResponseHub using your Facebook account, so there is no need to create an account password if you wish to continue to login with Facebook. You only need to create an account password if you want to be able to login to ResponseHub without using your associated facebook account.</p>
	</div>
</div>

<form method="post" action="/my-account/create-password">
	
	@Html.AntiForgeryToken()

	@Html.ValidationSummary()
	
	<div class="form-group">
		<label for="NewPassword">New password *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", data_password_strength_target = "#password-strength" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.NewPassword)
	</div>

	<div class="form-group">
		<label for="ConfirmPassword">Confirm password *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.ConfirmPassword)
	</div>

	<div id="password-strength" class="password-strength clearfix">
		<div class="strength-bar first"></div>
		<div class="strength-bar second"></div>
		<div class="strength-bar third"></div>
	</div>

	<button type="submit" class="btn btn-default btn-mobile-block">Create password</button>

	<div class="form-sub-actions"><a href="/my-account">Cancel</a></div>

</form>