@model Enivate.ResponseHub.UI.Models.MyAccount.AccountDetailsViewModel

@{
    ViewBag.Title = "My account";
}

<h1>@ViewBag.Title</h1>

@Html.SuccessFromQueryString("account_updated", "1", "Your account details have been successfully updated.")

@Html.SuccessFromQueryString("email_updated", "1", "Your email address has been successfully updated. Please use your updated email address to login to ResponseHub.")

<div class="row">
	<div class="col-xs-12">
		<h3>Account details</h3>
		<dl class="dl-horizontal">
			<dt>Name:</dt>
			<dd>@Model.FirstName @Model.Surname</dd>
			<dt>Email address:</dt>
			<dd>@Model.EmailAddress</dd>
		</dl>
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-sm-4 col-xl-3 col-xl-offset-0">
		<p class="text-center"><i class="fa fa-fw fa-pencil-square-o fa-3x text-primary"></i></p>
		<h3 class="text-center">Update your account</h3>
		<p class="text-center">
			Update the details of your account such as your name, profile settings, etc.
		</p>
		<p class="text-center">
			<a href="/my-account/update-account" class="btn btn-primary">Update account</a>
		</p>
	</div>

	<hr class="visible-xs-block" />

	<div class="col-sm-4 col-xl-3 col-xl-offset-1">
		<p class="text-center"><i class="fa fa-fw fa-envelope-o fa-3x text-primary""></i></p>
		<h3 class="text-center">Change your email address</h3>
		<p class="text-center">
			Change you primary contact email address and ResponseHub username.
		</p>
		<p class="text-center">
			<a href="/my-account/update-email" class="btn btn-primary">Update email address</a>
		</p>
	</div>

@if (Model.CanChangePassword)
{
	
	<hr class="visible-xs-block" />

	<div class="col-sm-4 col-xl-3 col-xl-offset-1">
		<p class="text-center"><i class="fa fa-fw fa-key fa-3x text-primary"></i></p>
		<h3 class="text-center">Change your account password</h3>
		<p class="text-center">
			Keep your account secure by regularly changing your password.
		</p>
		<p class="text-center">
			<a href="/my-account/change-password" class="btn btn-primary">Change account password</a>
		</p>
	</div>
}
</div>