@model Enivate.ResponseHub.UI.Models.MyAccount.LoginViewModel
@using Microsoft.Owin.Security

@{
	ViewBag.Title = "Log in to ResponseHub";
	Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="form-container">


	<form method="post" action="@Request.Url.PathAndQuery">

		@Html.AntiForgeryToken()

		@if (ViewBag.InvalidLogin == true)
		{
			<div class="form-error">
				Sorry, the email address and password you have entered is invalid.
			</div>
		}

		@Html.ValidationSummary(true)

		<div class="form-group">
			@Html.LabelFor(model => model.Email)
			@Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "you@domain.com", type = "email" })
			@Html.ValidationMessageFor(model => model.Email)
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Password)
			@Html.PasswordFor(model => model.Password, new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.Password)
		</div>


		<div>
			<button type="submit" class="btn btn-primary btn-mobile-block btn-lg">Login</button>
			<a href="/my-account/forgotten-password" class="pull-right">I've forgotten my password</a>
		</div>

	</form>

	<div id="fb-login">
		<h4>Login with Facebook</h4>

		<form action="/my-account/facebook-login@(Request.Url.Query)" method="post">
			@Html.AntiForgeryToken()
			<p>If you have a Facebook account, you can use your facebook account to login to ResponseHub.</p>
			<button type="submit" class="btn btn-default btn-icon btn-block" id="Facebook" name="provider" value="Facebook" title="Log in using your Facebook account"><i class="fa fa-facebook"></i>Login with facebook</button>
		</form>
	</div>

</div>
