@model Enivate.ResponseHub.UI.Models.MyAccount.ResetPasswordViewModel

@{
	ViewBag.Title = "Reset your password";
	Layout = "~/Views/Shared/LoginLayout.cshtml";
}

<div class="form-container">

	<h2>@ViewBag.Title</h2>

	<p>Please enter your new account password details below.</p>

	<form method="post" action="/my-account/reset-password/@ViewBag.Token">

		@if (ViewBag.PasswordResetError == true)
		{
			<div class="form-error">There was an error resetting your account password. Please contact us for further assistance.</div>
		}

		@Html.ValidationSummary(true)

		@Html.AntiForgeryToken()

		<div class="form-group">
			@Html.LabelFor(model => model.Password)
			<div class="row">
				<div class="col-lg-9 col-xl-6">
					@Html.PasswordFor(model => model.Password, new { @class = "form-control", data_password_strength_target = "#password-strength" })
				</div>
			</div>
			@Html.ValidationMessageFor(model => model.Password)
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ConfirmPassword)
			<div class="row">
				<div class="col-lg-9 col-xl-6">
					@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
				</div>
			</div>
			@Html.ValidationMessageFor(model => model.ConfirmPassword)
		</div>

		<div id="password-strength" class="password-strength clearfix">
			<div class="strength-bar first"></div>
			<div class="strength-bar second"></div>
			<div class="strength-bar third"></div>
		</div>

		<button type="submit" class="btn btn-default">Reset password</button>

	</form>

</div>