@model Enivate.ResponseHub.UI.Areas.Admin.Models.Units.BulkMemberImportedViewModel

@{
	/**/

	ViewBag.Title = "Members imported";
	Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<p>The bulk member import has been completed.</p>

<h2>Import summary</h2>
<p class="lead">@Model.TotalMembersProcessed member@(Model.TotalMembersProcessed == 1 ? "" : "s") processed.</p>

<div class="row">
	<div class="col-sm-4">
		<div class="event-overview-item event-unassigned-jobs-count text-success">
			<span>@Model.ImportedMembers.Count</span>Members imported
		</div>
	</div>
	<div class="col-sm-4">
		<div class="event-overview-item event-total-jobs-count text-danger">
			<span>@Model.ErrorMembers.Count</span>Errors detected
		</div>
	</div>
	<div class="col-sm-4">
		<div class="event-overview-item no-border event-completed-jobs-count text-muted">
			<span>@Model.AddedToUnit.Count</span>Members added to unit
		</div>
	</div>
</div>

@if (Model.ErrorMembers.Count > 0)
{
	<h3 class="text-danger">Errors importing users</h3>
	<p>The table below outlines the users that could not be added to the system.</p>

	<table class="table table-striped table-condensed table-responsive table-medium top-10 bottom-0">
		<thead>
			<tr>
				<th>Error message</th>
				<th>Email address</th>
				<th>First name</th>
				<th>Surname</th>
				<th>Member number</th>
				<th>User access type</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var memberItem in Model.ErrorMembers)
			{
				<tr>
					<td><span class="text-danger">@memberItem.Value</span></td>
					<td>@memberItem.Key.EmailAddress</td>
					<td>@memberItem.Key.FirstName</td>
					<td>@memberItem.Key.Surname</td>
					<td>@memberItem.Key.MemberNumber</td>
					<td>@memberItem.Key.UserAccessType</td>
				</tr>
			}
		</tbody>
	</table>
}

<p>
	<a href="/control-panel/units/@Model.UnitId" class="btn btn-primary">Return to unit</a>
</p>
