@model Enivate.ResponseHub.UI.Areas.Admin.Models.Capcodes.CreateCapcodeViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@if (Model.Id == Guid.Empty)
{
	<p>Create a new capcode that can be selected by groups so that members can also recieve messages from the capcode.</p>
}
else
{
	<p>Edit the details of the capcode.</p>
}

<form action="@Request.Url.LocalPath" method="post">

	@Html.AntiForgeryToken()

	@Html.ValidationSummary(true)

	<div class="form-group">
		<label for="Name">Name *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "e.g. State Info" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.Name)
	</div>

	<div class="form-group">
		<label for="Name">Short name *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.TextBoxFor(model => model.ShortName, new { @class = "form-control", placeholder = "e.g. STATE_INFO" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.ShortName)
	</div>

	<div class="form-group">
		<label for="Name">Capcode *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.TextBoxFor(model => model.CapcodeAddress, new { @class = "form-control", placeholder = "00000xxx", maxlength = "9" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.CapcodeAddress)
	</div>

	<div class="form-group">
		<label for="Service">Service *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				@Html.DropDownListFor(model => model.Service, Model.AvailableServices, new { @class = "form-control" })
			</div>
		</div>
		@Html.ValidationMessageFor(model => model.Service)
	</div>

	<div class="form-group">
		<label for="Service">Group use only *</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				<div class="checkbox">
					<label>
						@Html.CheckBoxFor(i => i.IsGroupCapcode) Is group capcode
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 col-xl-6">
				<p class="section-help">Capcodes that are specified as "group use only" can only be selected for a group as the primary capcode. They are not available for use in the additional capcodes field.</p>
			</div>
		</div>
	</div>

	@if (Model.Id != Guid.Empty)
	{
		<div class="row">
			<div class="col-xs-12">
				<a data-href="/admin/capcodes/delete/@Model.Id" class="btn btn-link btn-link-delete cursor-pointer btn-icon btn-action-icon" data-toggle="modal" data-target="#confirm-delete"><i class="fa fa-fw fa-times"></i>Delete capcode</a>
			</div>
		</div>
	}

	<div class="top-20">
		@if (Model.Id == Guid.Empty)
		{
			<button type="submit" class="btn btn-default">Create capcode</button>
		}
		else
		{
			<button type="submit" class="btn btn-default">Save capcode</button>
		}
		<a href="/admin/capcodes" class="btn btn-link">Cancel</a>
	</div>

</form>

<div class="modal fade delete-capcode" tabindex="-1" role="dialog" id="confirm-delete">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Are you sure?</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to remove the capcode?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary btn-ok">Remove capcode</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->