@model Enivate.ResponseHub.UI.Areas.ControlPanel.Models.DataExport.DataExportFilterViewModel
@{
    ViewBag.Title = "Data export";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<div class="filter-container">

	<form action="@Request.Url.LocalPath" method="post" id="export-form">

		@Html.AntiForgeryToken()

		<div class="form-group">
			<label for="DateFrom">Date from *</label>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="input-group date datepicker-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-show-on-focus="false">
						@Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control", @Value = DateTime.Now.AddYears(-1).ToString("dd/MM/yyyy") })
						<div class="input-group-addon">
							<i class="fa fa-fw fa-calendar"></i>
						</div>
					</div>
					@Html.ValidationMessageFor(model => model.DateFrom)
					<div class="text-muted"><em>Date format should be dd/mm/yyyy.</em></div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="DateTo">Date to *</label>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="input-group date datepicker-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-show-on-focus="false">
						@Html.TextBoxFor(model => model.DateTo, new { @class = "form-control", @Value = DateTime.Now.ToString("dd/MM/yyyy") })
						<div class="input-group-addon">
							<i class="fa fa-fw fa-calendar"></i>
						</div>
					</div>
					@Html.ValidationMessageFor(model => model.DateTo)
					<div class="text-muted"><em>Date format should be dd/MM/yyyy.</em></div>
				</div>
			</div>
			
		</div>

		<button type="submit" class="btn btn-primary btn-icon"><i class="fa fa-download"></i>Export data</button>
		<a href="/control-panel/training" class="btn btn-link">Cancel</a>

	</form>

</div>