@model Enivate.ResponseHub.UI.Models.Events.EventViewModel

<div class="row event-job-allocation">
	<div class="col-sm-4 jobs">
		<h3>Unassigned jobs</h3>
		<div class="jobs-list">
			<ul class="list-unstyled">
				@foreach (var job in Model.UnassignedJobs)
				{
					<li data-job-number="@job.JobNumber" data-job-id="@job.Id" data-job-message="@job.MessageBody" data-job-timestamp="@job.Timestamp.ToLocalTime().ToString("dd-MM-yyyy HH:mm:ss")">
						<h4>@job.JobNumber<span class="text-info pull-right small">@job.Timestamp.ToLocalTime().ToString("dd-MM-yyyy HH:mm:ss")</span></h4>
						<div class="message-body"><small class="text-muted">@job.MessageBody</small></div>
						<div class="job-allocation-actions clearfix">
							<button class="btn btn-link btn-icon pull-left btn-left-align btn-assign-job disabled" disabled="disabled" title="Allocate to crew"><i class="fa fa-fw fa-share"></i> Assign to crew</button>
						</div>
					</li>
				}
			</ul>
			@if (Model.UnassignedJobs.Count == 0)
			{
				<p class="text-info no-unassigned-jobs"><strong>There are currently no unassigned jobs.</strong></p>
			}
		</div>
	</div>
	<div class="col-sm-8 crew-allocation">
		<h3>Crew allocation</h3>

		<div class="form-group">
			<label for="AvailableMembers">Crew</label>
			<div class="row">
				<div class="col-sm-8 col-md-8 col-lg-6">
					<select class="form-control selectpicker" data-live-search="true" id="CrewSelect" title="Select crew...">
						@foreach (var crew in Model.Crews)
						{
							<option data-tokens="@crew.Name @crew.CrewLeader.FullName" value="@crew.Id">@crew.Name  - Crew Leader: @crew.CrewLeader.FullName</option>
						}
					</select>
					<hidden id="selected-crew-id" value=""></hidden>
				</div>
			</div>
		</div>

		<div class="row">
			<div class=" col-sm-12 loading-crew-details text-center text-primary hidden">
				<i class="fa fa-fw fa-spin fa-spinner"></i> Loading crew...
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 crew-job-list">
				<p class="lead no-jobs hidden">No jobs have been assigned to this crew yet.</p>

				<ul class="assigned-jobs list-unstyled"></ul>

				<div class="allocate-jobs hidden bottom-20">
					<button class="btn btn-primary btn-icon disabled" disabled="disabled"><i class="fa fa-fw fa-indent"></i>Assign jobs</button>
				</div>

			</div>
		</div>

	</div>

</div>


<div class="modal fade" id="confirm-change-crew" tabindex="-1" role="dialog" aria-labelledby="confirm-change-crew">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="confirm-cancel-label">Unsaved job allocations</h4>
			</div>
			<div class="modal-body">
				<p>You have unsaved job allocations. If you proceed, your job allocations for this crew will be lost.</p>
				<p>Click 'Go back' to go back and save your changes or click 'Proceed' to proceed and lose your changes.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-link btn-danger text-danger" onclick="responseHub.events.loadCrewJobAssignments($('#CrewSelect').val()); $('#confirm-change-crew').modal('hide');">Proceed</button>
				<button class="btn btn-default" data-dismiss="modal" onclick="$('#CrewSelect').selectpicker('val', $('#selected-crew-id').val());">Go back</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->