@model List<Enivate.ResponseHub.UI.Models.Events.EventListItemViewModel>
@{
    ViewBag.Title = "Events";
}

<h1>@ViewBag.Title</h1>

<p>Events allow units to manage multiple jobs within a given timeframe. Within an event, you can create crews and then assign jobs and resources to those crews. Crews in the field can then view the assigned jobs, and work through the list of jobs.</p>

<a href="/events/create" class="btn btn-primary btn-lg btn-icon"><i class="fa fa-plus"></i>Start new event</a>

@Html.Partial("~/Views/Shared/SearchControl.cshtml", new Enivate.ResponseHub.UI.Models.SearchViewModel(Model.Count, "events"))

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Started</th>
			<th>Jobs</th>
		</tr>
	</thead>
	<tbody>
		@if (Model == null || Model.Count == 0)
		{
			<tr>
				<td colspan="4">No events found.</td>
			</tr>
		}
		else
		{
			foreach (var eventObj in Model)
			{
				<tr>
					<td><a href="/events/@eventObj.Id">@eventObj.Name</a></td>
					<td>@eventObj.Description</td>
					<td>@eventObj.StartDate.ToString("d MMMM yyyy HH:mm")</td>
					<td>@eventObj.JobsCount</td>
				</tr>
			}
		}
	</tbody>
</table>