@model Enivate.ResponseHub.UI.Models.Events.EventViewModel

@{
    ViewBag.Title = Model.Name;
}

<input type="hidden" id="EventId" value="@Model.Id" />

<div class="row title-row">
	<div class="col-sm-9">
		<h1>@ViewBag.Title</h1>
	</div>
	<div class="col-sm-3">
		<a href="@Request.Url.LocalPath/edit" class="btn btn-link btn-icon btn-lg pull-right"><i class="fa fa-pencil-square-o"></i>Edit event</a>
	</div>
</div>

@Html.SuccessFromQueryString("updated", "1", "The event has been successfully updated.")

<div class="tab-container top-10">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs tab-collapse" role="tablist">
		<li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab" class="btn-icon"><i class="fa fa-fw fa-list"></i>Overview</a></li>
		<li role="presentation"><a href="#map-view" aria-controls="map-view" id="map-view-tab" role="tab" data-toggle="tab" class="btn-icon"><i class="fa fa-fw fa-map-o"></i>Map view</a></li>
		<li role="presentation"><a href="#crew-job-allocation" aria-controls="crew-job-allocation" id="crew-job-allocation-tab" role="tab" data-toggle="tab" class="btn-icon"><i class="fa fa-fw fa-object-group"></i>Crew/Job allocation</a></li>
		<li role="presentation"><a href="#crews" aria-controls="crews" role="tab" data-toggle="tab" class="btn-icon"><i class="fa fa-fw fa-users"></i>Crews</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="overview">
			@Html.Partial("Overview", Model)
		</div>
		<div role="tabpanel" class="tab-pane event-map-view" id="map-view">
			@Html.Partial("MapDisplay", Model)
		</div>
		<div role="tabpanel" class="tab-pane" id="crew-job-allocation">
			@if (Model.Finished)
			{
				<p class="text-info top-20"><strong>Job allocation is disabled as the event has finished.</strong></p>
			}
			else
			{
				@Html.Partial("CrewJobAllocation", Model)
			}
		</div>
		<div role="tabpanel" class="tab-pane" id="crews">
			@Html.Partial("Crews", Model)
		</div>
		
	</div>

</div>