@model Enivate.ResponseHub.UI.Models.Events.EventViewModel

@{
    ViewBag.Title = Model.Name;
}

<input type="hidden" id="EventId" value="@Model.Id" />

<div class="val-edit">
	<h1 class="val">@ViewBag.Title</h1>
	<div class="val-edit-input hidden">
		<input type="text" class="form-control input-lg" name="Name" value="@ViewBag.Title" /> 
		<div class="val-edit-controls">
			<button class="btn btn-lg btn-default"><i class="fa fa-fw fa-check"></i></button>
			<button class="btn btn-lg btn-default"><i class="fa fa-fw fa-times"></i></button>
		</div>
	</div>
</div>

<div class="tab-container">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs tab-collapse" role="tablist">
		<li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab" class="btn-icon"><i class="fa fa-fw fa-bar-chart"></i>Overview</a></li>
		<li role="presentation"><a href="#crews" aria-controls="crews" role="tab" data-toggle="tab" class="btn-icon"><i class="fa fa-fw fa-users"></i>Crews</a></li>
		<li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab" class="btn-icon"><i class="fa fa-fw fa-cubes"></i>Resources</a></li>
		<!-- <li role="presentation"><a href="#sectors" aria-controls="sectors" role="tab" data-toggle="tab" class="btn-icon"><i class="fa fa-fw fa-object-unit"></i>Sectors</a></li> -->
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="overview">

		</div>
		<div role="tabpanel" class="tab-pane" id="crews">
			@Html.Partial("Crews")
		</div>
		<div role="tabpanel" class="tab-pane" id="resources">

			<h3>Unit members</h3>

			<div class="row">
				@foreach (var resource in Model.UnitResources)
				{
					<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2"><div class="checkbox"><label><input type="checkbox" value="@resource.UserId.Value" data-name="@resource.Name" /> @resource.Name</label></div></div>
				}
			</div>

			<h3>Additional resources</h3>

			<div class="row">
				@if (Model.AdditionalResources == null || Model.AdditionalResources.Count == 0)
				{
					<div class="col-xs-12 no-additional-resources"><p>No additional resources have been allocated to this event yet.</p></div>
				}
			</div>

			@Html.Partial("AddResourceForm", Model.AdditionalResourceModel)

		</div>
	</div>

</div>