@model Enivate.ResponseHub.UI.Areas.ControlPanel.Models.Reports.Attendance.AttendanceReportViewModel
@{
	ViewBag.Title = "Attendance report";
	if (Model.UseStandardLayout)
	{
		Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
	}
	else
	{
		Layout = "~/Areas/ControlPanel/Views/Shared/HtmlExportLayout.cshtml";
	}
}

<div class="generated-report">

	<h1 id="attendance-report">@ViewBag.Title</h1>

	<table class="table table-striped results-overview table-small">
		<thead>
			<tr>
				<th width="110">Date</th>
				<th width="100">Time</th>
				<th>Name</th>
				<th>Member number</th>
				<th>Type</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var attendanceReportGroup in Model.AttendanceReportItems)
			{
				<tr class="month-group">
					<td colspan="6"><strong>@attendanceReportGroup.Key</strong></td>
				</tr>

				foreach (var reportItem in attendanceReportGroup.Value)
				{
				<tr>
					<td>@reportItem.SignInTime.ToString("yyyy-MM-dd")</td>
					<td>@reportItem.SignInTime.ToString("HH:mm")</td>
					<td>@reportItem.FullName</td>
					<td>@reportItem.MemberNumber</td>
					<td>@Html.EnumDescription(reportItem.SignInType)</td>
					<td>@reportItem.Description</td>
				</tr>
					}
				}
		</tbody>
	</table>

</div>