@model Enivate.ResponseHub.UI.Areas.ControlPanel.Models.Reports.Training.TrainingReportViewModel
@{
	ViewBag.Title = "Training report";
	if (Model.UseStandardLayout)
	{
		Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
	}
	else
	{
		Layout = "~/Areas/ControlPanel/Views/Shared/HtmlExportLayout.cshtml";
	}
}

<h1 id="training-report">@ViewBag.Title</h1>

<h2>Training overview</h2>

<div id="chart-container" style="width: 1200px;">
</div>
<input type="hidden" value="@Model.ChartDataJs" id="chart-data" />

<h2 style="page-break-before: always">Member training sessions</h2>

<table class="table table-striped results-overview">
	<thead>
		<tr>
			<th>&nbsp;</th>
			@foreach(var trainingType in Model.TrainingTypes)
			{
				<th>@trainingType.Value</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach(var memberReport in Model.MemberReports)
		{
			<tr>
				<td>@memberReport.Name</td>
				@foreach(var trainingSession in memberReport.TrainingSessions)
				{
					<td>@trainingSession.Value</td>
				}
			</tr>
		}
	</tbody>
</table>

<h2 style="page-break-before: always">Member training dates</h2>

<table class="table table-striped results-overview">
	<thead>
		<tr>
			<th>&nbsp;</th>
			@foreach (var trainingType in Model.TrainingTypes)
			{
				<th>@trainingType.Value</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var memberReport in Model.MemberReports)
		{
			<tr>
				<td>@memberReport.Name</td>
				@foreach (var trainingSession in memberReport.TrainingDates)
				{
					<td>@String.Join(", ", trainingSession.Value.Select(i => i.ToString("yyyy-MM-dd")).ToList())</td>
				}
			</tr>
		}
	</tbody>
</table>