@model Enivate.ResponseHub.UI.Areas.ControlPanel.Models.Reports.Training.TrainingReportFilterViewModel

@{
	ViewBag.Title = "Training report";
	Layout = "~/Areas/ControlPanel/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

<form action="@Request.Url.LocalPath" method="post" id="training-report-form">

	@Html.AntiForgeryToken()

	<div class="form-group">
		<label for="DateFrom">Date from *</label>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="input-group date datepicker-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-show-on-focus="false">
					@Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control", @Value = DateTime.Now.AddYears(-1).ToString("dd/MM/yyyy") })
					<div class="input-group-addon">
						<i class="fa fa-fw fa-calendar"></i>
					</div>
				</div>
				@Html.ValidationMessageFor(model => model.DateFrom)
				<div class="text-muted"><em>Date format should be dd/mm/yyyy.</em></div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="DateTi">Date to *</label>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="input-group date datepicker-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-autoclose="true" data-date-show-on-focus="false">
					@Html.TextBoxFor(model => model.DateTo, new { @class = "form-control", @Value = DateTime.Now.ToString("dd/MM/yyyy") })
					<div class="input-group-addon">
						<i class="fa fa-fw fa-calendar"></i>
					</div>
				</div>
				@Html.ValidationMessageFor(model => model.DateTo)
				<div class="text-muted"><em>Date format should be dd/MM/yyyy.</em></div>
			</div>
		</div>
	</div>

	<p class="section-help bottom-10">You can limit the report to a single member to view that particular members training details.</p>
	<div class="form-group">
		<label for="AvailableMembers">Member</label>
		<div class="row">
			<div class="col-sm-8 col-md-6 col-lg-4">
				<select class="form-control selectpicker" data-live-search="true" id="MemberId" name="MemberId" title="Select member...">
					@foreach (var user in Model.AvailableMembers)
					{
						<option data-tokens="@user.Item2" value="@user.Item1">@user.Item2</option>
					}
				</select>
			</div>
		</div>
	</div>

	@Html.HiddenFor(model => model.ReportFormat, new { @Value = "display" })

	<div class="btn-group">
		<button type="submit" class="btn btn-primary btn-icon" onclick="$('#ReportFormat').val('display'); $('#training-report-form').submit(); return false;"><i class="fa fa-fw fa-file-text-o"></i> View report</button>
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#" onclick="$('#ReportFormat').val('pdf'); $('#training-report-form').submit(); return false;">Generate PDF</a></li>
		</ul>
	</div>
	<a href="/control-panel/reports" class="btn btn-link">Cancel</a>

</form>
