<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - ResponseHub</title>

	<link rel="stylesheet" href="~/assets/css/framework.css" />
	<link rel="stylesheet" href="~/assets/css/response-hub.css" />

	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,700,700italic' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top page-navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<div class="user-menu">
					<div class="dropdown">
						<button class="btn btn-link dropdown-toggle" type="button" id="dd-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<i class="fa fa-user"></i><span class="first-name">Justin</span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-profile">
							<li><span class="lead">@ViewBag.UserFullName</span></li>
							<li><span><small class="text-muted">@User.Identity.Name</small></span></li>
							<li class="divider"></li>
							<li><a href="/my-account">My account<i class="fa fa-fw fa-cog pull-right"></i></a></li>
							<li><a href="/my-account/change-password">Change password<i class="fa fa-fw fa-lock pull-right"></i></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/my-account/logout">Logout<i class="fa fa-fw fa-sign-out pull-right"></i></a></li>
						</ul>
					</div>
				</div>

				<a href="/" class="navbar-brand">ResponseHub</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/admin"><i class="fa fa-fw fa-cogs"></i>Admin</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid body-content">

		<div class="row">




			<!-- Right Column -->
			<div class="col-sm-3 col-lg-2 sidebar">

				@if (IsSectionDefined("Sidebar"))
				{
					@RenderSection("Sidebar")
				}
				else
				{
					@Html.Partial("~/Views/Shared/DefaultSidebar.cshtml")
				}

				<footer>
					<p>&copy; @DateTime.Now.Year - ResponseHub</p>
				</footer>

			</div>
			<!-- END Right Column -->
			<!-- Main Body -->
			<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main-content">

				<div class="content-container">
					@RenderBody()
				</div>

			</div>
			<!-- END Main Body -->

		</div>

	</div>

	<script language="javascript" src="~/assets/js/framework.js"></script>
	<script language="javascript" src="~/assets/js/script.js"></script>

</body>
</html>