<p class="explore">Explore</p>

<ul class="nav nav-sidebar">
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Jobs" ? "active" : "")">
		<a href="/jobs"><i class="fa fa-fw fa-list-alt"></i>Jobs</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Messages" ? "active" : "")">
		<a href="/messages"><i class="fa fa-fw fa-sticky-note-o"></i>Messages</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "SignIn" ? "active" : "")">
		<a href="/sign-in"><i class="fa fa-fw fa-address-book-o"></i>Sign in</a>
		@if (ViewContext.RouteData.Values["Controller"].ToString() == "SignIn")
		{
			<ul>
				<li>
					<a href="/sign-in/sign-out">Sign out</a>
				</li>
				<li>
					<a href="/sign-in/unit-sign-in">Unit sign in</a>
				</li>
			</ul>
		}
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Events" ? "active" : "")">
		<a href="/events"><i class="fa fa-fw fa-bullhorn"></i>Events</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Wallboard" ? "active" : "")">
		<a href="/wallboard"><i class="fa fa-fw fa-desktop"></i>Wallboard view</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "WeatherCentre" ? "active" : "")">
		<a href="/weather-centre"><i class="fa fa-fw fa-bolt"></i>Weather centre</a>
	</li>
	<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "MyAccount" ? "active" : "")">
		<a href="/my-account"><i class="fa fa-fw fa-user"></i>My account</a>
		@if (ViewContext.RouteData.Values["Controller"].ToString() == "MyAccount")
		{
		<ul>
			<li>
				<a href="/my-account/update-account">Update account</a>
			</li>
			<li>
				<a href="/my-account/sign-in-history">View sign in history</a>
			</li>
			<li>
				<a href="/my-account/update-email">Update email address</a>
			</li>
			<li>
				<a href="/my-account/change-password">Change password</a>
			</li>
		</ul>
		}
	</li>
	@if (Html.IsUnitAdminUser())
	{
		<li class="muted-nav">
			<a href="/control-panel"><i class="fa fa-fw fa-cogs"></i>Unit administration</a>
		</li>
	}
</ul>
